:root {
  --color-blue: #2563eb;
  --color-purple-500: #c084fc;
  --color-purple-800: #6b21a8;
  --color-white: #ffff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
ul {
  list-style: none;
}

body {
  background-image: linear-gradient(
    45deg,
    var(--color-purple-500) 20%,
    var(--color-blue) 100%
  );
  min-height: 100vh;
}

.header {
  margin-top: 3em;
  color: var(--color-white);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header span {
  color: var(--color-purple-800);
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form input[type="date"],
.form button {
  border: 1px solid var(--color-white);
  background-color: inherit;
  padding: 0.5em 0.75em;
  border-radius: 4px;
  color: var(--color-white);
  font-weight: bold;
}

.form button {
  cursor: pointer;
}

.date-cards {
  /* border: 1px solid red; */
  margin-top: 1.5em;
  padding: 1em;
}

.cards-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0.75em;
}

.date-card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  align-items: center;
  padding: 0.6em 0.5em;
  width: 20%;
  max-width: 130px;
  gap: 0.4rem;
  background-image: linear-gradient(
    45deg,
    var(--color-purple-500) 20%,
    var(--color-blue) 100%
  );
  font-weight: bold;
  box-shadow: 0px 1px 4px var(--color-white);
}

.date-card h3 {
  color: var(--color-white);
}
